@keyframes breath {
  0%, 100% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.15);
    opacity: 1;
  }
}


.breath-gradient {
  width: 300px;
  height: 300px;
  border-radius: 9999px;

  background: radial-gradient(
    circle,
    hsl(210 10% 34%) 0%,
    hsl(215 14% 44%) 40%,
    transparent 70%
  );

    /* rgba(99, 102, 241, 0.35) 0%,
    rgba(99, 102, 241, 0.15) 40%,
    rgba(99, 102, 241, 0.05) 60%, */

  animation: breath 6s ease-in-out infinite;
  filter: blur(40px);
}