@import "tailwindcss";
@import "./variables.css";
@import "./backgroundGradient.css";
@import "./backgroundBreath.css";

body {
  background: var(--cor-escuro-1);
}

h1 {
  color: var(--cor-branco);
}