@import "tailwindcss";
@import "./variables.css";
@import "./projectAnimations.css";
@import "./backgroundGradient.css";
@import "./backgroundBreath.css";

body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.25s ease, color 0.25s ease;
}

h1 {
  color: var(--text-color);
}
