:root {
    --cor-branca: #ffffff;
    --cor-cinza-1: #e1d9d9;
    --cor-cinza-2: #d4d4d4;
    --cor-cinza-3: #7c7c86;
    --cor-primaria-1: #ff0000;
    --cor-primaria-2: #be0000;
    --cor-primaria-3: #7d0000;
    --cor-primaria-4: #ff9898;
    --cor-escuro-1: #0c0c19;
    --cor-escuro-2: #0d0d1a;
    --cor-escuro-3: #0e0d1b;
    --cor-escuro-4: #10101e;
    --cor-escuro-5: #11111e;
    --cor-escuro-6: #1b1b2b;
    --cor-escuro-7: #29293f;
}

/* #0D0D1A
#11111E
#10101E
#0E0D1B
#0C0C19
#1B1B2B
#29293F

#7C7C86
#D4D4D4
#E1D9D9
#FFFFFF

#FF0000
#BE0000
#7D0000 */

/*
#121619
#1A1F23
#1F2A33
#2D3339
#555D63

#B08035
#EDB355
#EDDAA4

#cecece
#838383 */
