:root {
    --cor-branco: #FFFFFF;
    --cor-cinza-1: #cecece;
    --cor-cinza-2: #838383;
    --cor-primaria-1: #B08035;
    --cor-primaria-2: #EDB355;
    --cor-primaria-3: #EDDAA4;
    --cor-escuro-1: #1A1F23;
    --cor-escuro-2: #1F2A33;
    --cor-escuro-3: #2D3339; 
    --cor-escuro-4: #555D63;
    --cor-escuro-5: #121619;
    --degrade-primario: linear-gradient(90deg, #B08035 0%, #EDB355 100%);
}

/* #0D0D1A
#11111E
#10101E
#0E0D1B
#0C0C19
#1B1B2B
#29293F

#7C7C86
#D4D4D4
#E1D9D9
#FFFFFF

#FF0000
#BE0000
#7D0000 */